---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import Link from '@/components/Link.astro'
---

<Layout>
  <PageHead slot="head" title="Projects" />
  <Breadcrumbs
    items={[{ label: 'Projects', href: '/projects', icon: 'lucide:code-2' }]}
  />

  <div class="prose prose-neutral dark:prose-invert max-w-none">
    <h2>Current Projects</h2>
    <ul>
      <li>
        <Link href="https://github.com/hammamiomar/SAM_CAM_BAM" underline>
          SAM_CAM_BAM
        </Link> - An interactive music visualizer that combines computer vision and audio processing to create dynamic visual effects using webcam input and real-time audio analysis. (2025)
      </li>
      <li>
        <Link href="https://github.com/hammamiomar/better_spotify" underline>
          Betterd Spotify
        </Link> - A fullstack Rust web application that provides true random shuffling for Spotify playlists – because Spotify's "shuffle" isn't really random. (2025)
      </li>
    </ul>

    <h2>Past Projects</h2>
    <ul>
      <li> 
        <Link href="https://github.com/hammamiomar/workTimerPet" underline>
          workTimerPet
        </Link> - A little work timer pet that records work time, and break time. (2025)
      </li>
      <li>
        <Link href="https://github.com/hammamiomar/hambaJubaTuba" underline>
          hambaJubaTuba
        </Link> -Transforms audio features into latent space trajectories, producing temporally coherent music visualizations via diffusion models. (2024)
      </li>
      <li>
        <Link href="https://drive.google.com/file/d/1ekjcFVN1Jq6dJ0ETpsyNm2pUHbrF-pYx/view?usp=share_link" underline>
          A Careful Look into Graph Contrastive Learning
        </Link> - A project where experimentation was done to see if claims made on Graph Contrastive Learning are true, and if they can be improved. (2022)
      </li>
    </ul>

    <h2>Publications</h2>
    <ul>
      <li>
        <Link href="https://rosap.ntl.bts.gov/view/dot/72518" underline>
          "Exploring Cost-effective Computer Vision Solutions for Smart Transportation Systems"
        </Link> - Connected Cities for Smart Mobility toward Accessible and Resilient Transportation Center (2023)
      </li>
      <li>
        <Link href="https://www.sciencedirect.com/science/article/abs/pii/S0965856422001458" underline>
          "A New Curb Lane Monitoring and Illegal Parking Impact Estimation Approach"
        </Link> - Transportation Research Part A (2022)
      </li>
    </ul>
  </div>
</Layout>